body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.App {
  min-height: 100vh;
  padding: 20px 0;
  background:
  radial-gradient(at 40% 20%, #ff6ec4 0px, transparent 50%),
  radial-gradient(at 80% 0%, #7873f5 0px, transparent 50%),
  radial-gradient(at 0% 50%, #4ade80 0px, transparent 50%),
  radial-gradient(at 80% 50%, #22d3ee 0px, transparent 50%),
  #111827;
  
 
}

.App.dark {
  background:
radial-gradient(at 40% 20%, #5b21b6 0px, transparent 50%), /* değişti */
radial-gradient(at 80% 0%, #312e81 0px, transparent 50%),
radial-gradient(at 0% 50%, #064e3b 0px, transparent 50%),
radial-gradient(at 80% 50%, #0c4a6e 0px, transparent 50%),
#0b0f19;
}

* {
  transition: background-color 0.3s ease, color 0.3s ease;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.5);
}